.titlemed {
    margin-top: 35px;
    margin-left: 700px;
    font-size: 40px;
    font-size: 40px;
    color: black;
}

.medprg {
    margin-left: 320px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 47px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

audio {
    width: 700px;
}